/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing: border-box;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson
  /* ... */

}


/* ALGEMENE CSS */

body {
  margin:0;
  /* height:100vh;
  position: relative;
  width: 400vw;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start; */
}

li{
list-style-type: none;
}

.container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.container.x {
  width: 100vw;
  height: 100vh;
}

.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}

.container > section {
  scroll-snap-align: center;
  flex: none;
}

.x.container > section {
  width: 100vw;
}



button:not([disabled]) {

}

.magnifying-glass {
  display: flex;
  width: 50vw;
  background: black;
  height: 100vh;
}



.magnifying-glass__magnifier {
  position: fixed;
  top: 0; left: 0;
  z-index: 1;
  overflow: hidden;
  width: 15vw;
  max-width: 10rem;
  height: 15vw;
  max-height: 10rem;
  border: 5px solid rgba(white, 0.25);
  border-radius: 50%;
  background-color: transparent;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease; 
}

.magnifying-glass__enlarged-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300vw;
}

/*https://codepen.io/andreasantonsson/pen/pobMNoy



/* H1 */


h1 {
  position:fixed;
  text-align: center;
  z-index: 10;
}

h2 {
  position:fixed;
  text-align: center;
  z-index: 10;
}

h1, h2 {
  text-align: center; /* Center the text horizontally */
  z-index: 10;
}

/* DE KAMERS */

#popup-image-container {
  position: absolute;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  display: none; /* Initially hidden */
}

#popup-image-container-scion {
  position: absolute;
  z-index: 1;
  top:0;
  left: 0;
  display: none; /* Initially hidden */
}

#popup-image-container-talion {
  position: absolute;
  z-index: 1;
  display: none; /* Initially hidden */
}

#popup-image-container-dagger {
  position: absolute;
  z-index: 1;
  display: none; /* Initially hidden */
}

#popup-image-container-isis {
  position: absolute;
  z-index: 1;
  display: none; /* Initially hidden */
}

#popup-image-container-invada {
  position: absolute;
  z-index: 1;
  display: none; /* Initially hidden */
}

#popup-image-container-amulet {
  position: absolute;
  z-index: 1;
  display: none; /* Initially hidden */
  top: 0;
  left: 0;
}

#popup-image-container-iris {
  position: absolute;
  z-index: 1;
  display: none; /* Initially hidden */
  top: 0;
  left: 0;
}




/* DE EERSTE KAMER  */

.Start {
  background-image: url("../images/Start.jpg");
  width: 100vw;
  height: 100vh;
}


.Room1 {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.Room1 div:nth-of-type(1){
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}





.Room1.magnifying-glass > ul > li:nth-of-type(1) {
  display:block;
  position: absolute;
  right: -27%; 
  top:6%;
  width: 33%;
  opacity: 0.6;
}

section:nth-of-type(2) > ul > li:nth-of-type(1) img {
  width:10%;
  display:block;
}

section:nth-of-type(2) > ul > li:nth-of-type(1):hover {
  opacity: 1.0;
}

section:nth-of-type(2) > ul > li:nth-of-type(2) {
  display:block;
  position: absolute;
  right: 23%;
  top: 57%;
  width: 5em;
  opacity: 0.2;
}

section:nth-of-type(2) > ul > li:nth-of-type(2) img {
  width: 100%;
  display:block;
}

section:nth-of-type(2) > ul > li:nth-of-type(2):hover {
  opacity: 0.8; 
}

section:nth-of-type(2) > ul > li:nth-of-type(3) {
  position: absolute;
  right: 75%;
  top: 65%;
  width: 20%;
  opacity: 1.0;
}

section:nth-of-type(2) > ul > li:nth-of-type(3) img {
  width:100%;
  display:block;
}

section:nth-of-type(2) > ul > li:nth-of-type(4) {
  position: absolute;
  right: 40%; /* Center it horizontally */
  top: 10px; /* Adjust the top position as needed */
  width: 20%;
  opacity: 1.0;
}

section:nth-of-type(2) > ul > li:nth-of-type(4) img {
  width:100%;
  display:block;
}







/* DE TWEEDE KAMER  */



.Room2 {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.Room2 div:nth-of-type(1){
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

section:nth-of-type(3) > ul > li:nth-of-type(1) {
  display:block;
  position: absolute;
  right: 65%; 
  top: 70%;
  width: 5%;
  opacity: 0.25;
}

section:nth-of-type(3) > ul > li:nth-of-type(1) img {
  width:100%;
  display:block;
}

section:nth-of-type(3) > ul > li:nth-of-type(1):hover {
  opacity: 0.8;
}

section:nth-of-type(3) > ul > li:nth-of-type(2) {
  display:block;
  position: absolute;
  right: 8%;
  top: 73%;
  width: 5%;
  opacity: 0.5;
  transform: rotate(-30deg);
}

section:nth-of-type(3) > ul > li:nth-of-type(2) img {
  width: 100%;
  display:block;
}

section:nth-of-type(3) > ul > li:nth-of-type(2):hover {
  opacity: 0.8; 
}

section:nth-of-type(3) > ul > li:nth-of-type(3) {
  position: absolute;
  right: 75%;
  top: 65%;
  width: 20%;
  opacity: 1.0;
}

section:nth-of-type(3) > ul > li:nth-of-type(3) img {
  width:100%;
  display:block;
}

section:nth-of-type(3) > ul > li:nth-of-type(4) {
  position: absolute;
  right: 40%; /* Center it horizontally */
  top: 10px; /* Adjust the top position as needed */
  width: 20%;
  opacity: 1.0;
}

section:nth-of-type(3) > ul > li:nth-of-type(4) img {
  width:100%;
  display:block;
}


/* DE DERDE KAMER  */



.Room3 {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.Room3 div:nth-of-type(1){
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

section:nth-of-type(4) > ul > li:nth-of-type(1) {
  display:block;
  position: absolute;
  right: 48%; 
  top: 38%;
  width: 4%;
  opacity: 0.5;
  transform: rotate(-29deg);
}

section:nth-of-type(4) > ul > li:nth-of-type(1) img {
  width:100%;
  display:block;
}

section:nth-of-type(4) > ul > li:nth-of-type(1):hover {
  opacity: 0.8;
}

section:nth-of-type(4) > ul > li:nth-of-type(2) {
  display:block;
  position: absolute;
  right: 13%;
  top: 76%;
  width: 2%;
  opacity: 0.5;
  transform: rotate(7deg);
}

section:nth-of-type(4) > ul > li:nth-of-type(2) img {
  width: 100%;
  display:block;
}

section:nth-of-type(4) > ul > li:nth-of-type(2):hover {
  opacity: 0.8; 
}

section:nth-of-type(4) > ul > li:nth-of-type(3) {
  position: absolute;
  right: 75%;
  top: 65%;
  width: 20%;
  opacity: 1.0;
}

section:nth-of-type(4) > ul > li:nth-of-type(3) img {
  width:100%;
  display:block;
}

section:nth-of-type(4) > ul > li:nth-of-type(4) {
  position: absolute;
  right: 40%; /* Center it horizontally */
  top: 10px; /* Adjust the top position as needed */
  width: 20%;
  opacity: 1.0;
}

section:nth-of-type(4) > ul > li:nth-of-type(4) img {
  width:100%;
  display:block;
}


/* DE VIERDE KAMER  */



.Room4 {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.Room4 div:nth-of-type(5){
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

section:nth-of-type(5) > ul > li:nth-of-type(1) {
  display:block;
  position: absolute;
  right: 50%; 
  top: 28%;
  width: 3%;
  opacity: 1.0;
}

section:nth-of-type(5) > ul > li:nth-of-type(1) img {
  width:100%;
  display:block;
}

section:nth-of-type(5) > ul > li:nth-of-type(1):hover {
  opacity: 1.0;
}

section:nth-of-type(5) > ul > li:nth-of-type(2) {
  display:block;
  position: absolute;
  right: 23%;
  top: 9.2%;
  width: 3%;
  opacity: 0.8;
}

section:nth-of-type(5) > ul > li:nth-of-type(2) img {
  width: 100%;
  display:block;
}

section:nth-of-type(5) > ul > li:nth-of-type(2):hover {
  opacity: 0.8; 
}

section:nth-of-type(5) > ul > li:nth-of-type(3) {
  position: absolute;
  right: 75%;
  top: 65%;
  width: 20%;
  opacity: 5.0;
}

section:nth-of-type(5) > ul > li:nth-of-type(3) img {
  width:100%;
  display:block;
}

section:nth-of-type(5) > ul > li:nth-of-type(4) {
  position: absolute;
  right: 40%; /* Center it horizontally */
  top: 10px; /* Adjust the top position as needed */
  width: 20%;
  opacity: 1.0;
}

section:nth-of-type(5) > ul > li:nth-of-type(4) img {
  width:100%;
  display:block;
}







  
  




/* img:hover { */
  /* transform: perspective(18vw) rotateY(0deg)scale(1.2);  */
  /* Change the rotateY property on hover */
/* } */











